{% extends "base.html" %}
{% block title %}Forgot Password{% endblock title %}

{% block content %}
<div class="container">

    <!-- Email field errors -->
    <div class="errors">
      {% for errors in form.email.errors %}
      <div class="alert alert-danger" role="alert">{{ errors }}</div>
      {% endfor %}
    </div>

  <div class="form">
      <form method="POST" action="{{ url_for('auth.forgot_password') }}">
        {{ form.hidden_tag() }}

        <div class="form-group">
            <label for="exampleInputEmail1">Your Email</label>
            {{ form.email(class='form-control', id='exampleInputEmail1', placeholder='Enter your email', autofocus="") }}
        </div>

        <!-- <button type="submit" class="btn account-but">Sign Up</button> -->
        {{ form.submit(class='btn account-but') }}
      </form>
      <small>A confirmation link will be sent to your email so that you can change your password</small>
  </div>
</div>
{% endblock content %}