{% extends "base.html" %}
{% block title %}Sign In{% endblock title %}

{% block content %}
<div class="container">
  
  <!-- Email field errors -->
  <div class="errors">
    {% for errors in form.email.errors %}
    <div class="alert alert-danger" role="alert">{{ errors }}</div>
    {% endfor %}
  </div>

  <!-- Password field errors -->
  <div class="errors">
    {% for errors in form.password.errors %}
    <div class="alert alert-danger" role="alert">{{ errors }}</div>
    {% endfor %}
  </div>


  <div class="form">
    <form method="POST" action="{{ url_for('auth.login') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="exampleInputEmail1">Your Email</label>
            {{ form.email(class='form-control', id='exampleInputEmail1', placeholder='Enter your email') }}
          </div>
          
          <div class="form-group">
            <label for="exampleInputPassword1">Your Password</label>
            {{ form.password(class="form-control", id="exampleInputPassword1", placeholder="Enter your password") }}
          </div>
          {{ form.submit(class='btn account-but') }}

          <a class="form-text text-muted" href="{{ url_for('auth.forgot_password') }}">Forgot Password?</a>
        </div>
    </form>
  </div>
</div>
{% endblock content %}