{% extends "base.html" %}
{% block title %}Sign Up{% endblock title %}

{% block content %}
<div class="container">
  <!-- <div class="errors">
      {% for error in errors %}
      <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
  </div>  -->

    <!-- Email field errors -->
    <div class="errors">
      {% for errors in form.email.errors %}
      <div class="alert alert-danger" role="alert">{{ errors }}</div>
      {% endfor %}
    </div>

    <!-- Name field errors -->
    <div class="errors">
      {% for errors in form.name.errors %}
      <div class="alert alert-danger" role="alert">{{ errors }}</div>
      {% endfor %}
    </div>

    <!-- Password field errors -->
    <div class="errors">
      {% for errors in form.password.errors %}
      <div class="alert alert-danger" role="alert">{{ errors }}</div>
      {% endfor %}
    </div>

  <div class="form">
      <form method="POST" action="{{ url_for('auth.register') }}">
        {{ form.hidden_tag() }}

        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          {{ form.email(class='form-control', id='exampleInputEmail1', placeholder='Enter your email', autofocus='') }}
        </div>

        <div class="form-group">
          <label for="exampleInputName">Username</label>
          {{ form.name(class="form-control", id="exampleInputName", placeholder="Enter your username") }}
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          {{ form.password(class="form-control", id="exampleInputPassword1", placeholder="Enter your password") }}
        </div>

        <div class="form-group">
          <label for="exampleInputConfirm">Confirm Password</label>
          {{ form.confirm_pass(class="form-control", id="exampleInputConfirm", placeholder="Confirm password") }}
        </div>

        <label for="birthDate">Birth Date</label>
        <div class="form-row">
          <div class="col">
            {{ form.day(class="form-control", id='birthDate') }}
          </div>

          <div class="col">
            {{ form.month(class="form-control", id='birthDate') }}
          </div>

          <div class="col">
            {{ form.year(class="form-control", id='birthDate') }}
          </div>
        </div><br>

        <!-- <button type="submit" class="btn account-but">Sign Up</button> -->
        {{ form.submit(class='btn account-but') }}
      </form>
  </div>
</div>
{% endblock content %}