{% extends "base.html" %}
{% block title %}Sign Up{% endblock title %}

{% block content %}
<div class="container">
  <!-- <div class="errors">
      {% for error in errors %}
      <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
  </div>  -->

  <div class='errors'>
    {% for messages in get_flashed_messages() %}
      <div class="alert alert-danger" role="alert">{{ messages }}</div>
    {% endfor %}
  </div>
  <div class="form">
      <form method="POST" action="{{ url_for('auth.register') }}">

        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          {{ form.email(class='form-control', id='exampleInputEmail1', placeholder='Enter your email') }}
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Username</label>
          {{ form.name(class="form-control", id="exampleInputPassword1", placeholder="Enter your username") }}
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          {{ form.password(class="form-control", id="exampleInputPassword1", placeholder="Enter your password") }}
        </div>

        <div class="form-group">
          <label for="exampleInputConfirm">Password</label>
          {{ form.confirm_pass(class="form-control", id="exampleInputConfirm", placeholder="Confirm password") }}
        </div>

        <label for="birthDate">Birth Date</label>
        <div class="form-row">
          <div class="col">
            {{ form.day(class="form-control", id='birthDate') }}
          </div>

          <div class="col">
            {{ form.month(class="form-control", id='birthDate') }}
          </div>

          <div class="col">
            {{ form.year(class="form-control", id='birthDate') }}
          </div>
        </div><br>

        <!-- <button type="submit" class="btn account-but">Sign Up</button> -->
        {{ form.submit(class='btn account-but') }}
      </form>
  </div>
</div>
{% endblock content %}