{% extends "base.html" %}
{% block title %}Update Password{% endblock title %}

{% block content %}
<div class="container">

    <!-- Old password field errors -->
    <div class="errors">
      {% for errors in form.old_password.errors %}
      <div class="alert alert-danger" role="alert">{{ errors }}</div>
      {% endfor %}
    </div>

    <!-- New password field errors -->
    <div class="errors">
      {% for errors in form.new_password.errors %}
      <div class="alert alert-danger" role="alert">{{ errors }}</div>
      {% endfor %}
    </div>

  <div class="form">
      <form method="POST" action="{{ url_for('auth.update_password') }}">
        {{ form.hidden_tag() }}

        <div class="form-group">
          <label for="exampleInputOldPassword1">Old Password</label>
          {{ form.old_password(class="form-control", id="exampleInputOldPassword1", placeholder="Enter your old password") }}
        </div>

        <div class="form-group">
            <label for="exampleInputNewPassword">New Password</label>
            {{ form.new_password(class="form-control", id="exampleInputNewPassword", placeholder="Enter your new password") }}
          </div>

        <div class="form-group">
          <label for="exampleInputConfirm">Confirm Password</label>
          {{ form.confirm_pass(class="form-control", id="exampleInputConfirm", placeholder="Confirm password") }}
        </div>

        <!-- <button type="submit" class="btn account-but">Sign Up</button> -->
        {{ form.submit(class='btn account-but') }}
      </form>
  </div>
</div>
{% endblock content %}