{% extends "base.html" %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="container">
    <div class="row mt-4 intro">
        <div class="col-md-4 text-justify">
            <h2>About Chatty</h2>
            <hr>
            <p>Chatty is an online chatting application, it is simple is that. Make an account and find people based on your interest, location and so much more. Main goal of Chatty is that you have the best online interaction with people on the internet.</p>
        </div>

        <div class="col-md-8 text-md-center">
            <img src="{{ url_for('static', filename='intro.jpg') }}" class="ml-md-4 img-fluid" alt="Intro Image">
        </div>
    </div>
    <hr> 
    
</div>
{% endblock content %}